@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <iframe src="https://www.tcmb.gov.tr/kurlar/kurlar_tr.html" height="200"></iframe>
</div>
<div class="row">
    <iframe src="https://www.haberler.com/" height="500"></iframe>
</div>