@model List<OnlineOtomasyon.Entities.Concrete.Departman>

@{
    ViewBag.Title = "Index";
}

@if (Model.Count < 1)
{
    <div class="alert alert-danger mt-3">
        <h3 class="h3">Sisteme kayıtlı departman bulunamadı.</h3>
    </div>
}
else
{
    <table class="table table-striped table-bordered mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Departman Adı</th>
                <th>Veritabanı İşlemleri</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id.ToString()</td>
                    <td>@item.DepartmanAd</td>
                    <td>
                        <a href="/Departman/Guncelle/@item.Id" class="btn btn-warning btn-sm w-27" style="margin-left:5px;">Güncelle</a>
                        <a href="/Departman/Sil/@item.Id" class="btn btn-danger btn-sm w-25" style="margin-left:5px;">Sil</a>
                        <a href="/Departman/Ekle" class="btn btn-primary btn-sm w-25" style="margin-left:5px;">Ekle</a>
                        <a href="/Departman/Detay/@item.Id" class="btn btn-sm w-25" style="margin-left: 5px; background-color:#2ecc71;">Detaylar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

